main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Start Page */
#start-page {
  justify-content: center;
}

#start-title{
  font-size: 10vw;
  margin: 100px;
}

#start-page > #button-row > button {
  width: 20%;
  margin: 20px;
}

/* Leaderboard Page */
#leaderboard-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sub-title{
  margin: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 3vw;
}

#leaderboard-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leaderboard-table > .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

#leaderboard-table > .grid-container  > .title {
  font-weight: bold;
  font-size: 2vw !important;
}

#leaderboard-table > .grid-container  > .cell {
  padding: 1vw 10vw;
  font-size: 1.5vw;
}

#leaderboard-page > #back-button-container{
  margin-top: auto;
  margin-bottom: 5vh;
}

